{% extends 'main/base.html' %}
{% block content %}

<h2 class="mb-4">All Plants</h2>

<div class="row g-4">
    {% for plant in plants %}
    <div class="col-md-4">
        <a href="{% url 'plants:plant_details_view' plant.id %}" class="text-decoration-none text-dark">
            <div class="card shadow-sm">
                <img src="{{ plant.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
                <div class="card-body">
                    <h5>{{ plant.name }}</h5>
                    <p class="text-muted">{{ plant.about|truncatechars:40 }}</p>
                    <p class="fw-bold">{{ plant.category }}</p>
                    <p>
                        Native to:
                        {% for c in plant.countries.all %}
                            <a href="{% url 'plants:plants_by_country' c.id %}">{{ c.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span>No country info</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
